{% extends "aposts/index.html" %}
{% load static %}
{% block content %}
<div class="dark-mode py-5 px-4 px-md-5 mb-5">
    <div class="text-center mb-5">
        <img  src="{% static 'images/qualif2.png' %}" width="260"  alt="Logo">
        <h4 class="fw-bolder">Iniciar sesión</h4>
    </div>

    <div class="row gx-5 justify-content-center">
        <div class="col-lg-8 col-xl-6">
            <form method="post"> 
                {% csrf_token %}

                <!-- Name input -->
                <div class="form-floating mb-3">
                    <input class="form-control {% if form.username.errors %}is-invalid{% endif %}" id="username" name="username" type="text" placeholder="Usuario" value="{{ form.username.value|default_if_none:'' }}">
                    {% for error in form.username.errors %}
                        <div class="invalid-feedback">{{ error }}</div> 
                    {% endfor %}                        
                </div>

                <!-- Password input-->
                <div class="form-floating mb-3">
                    <input class="form-control {% if form.password.errors %}is-invalid{% endif %}" id="password" name="password" type="password" placeholder="Contraseña"/>
                    {% for error in form.password.errors %}
                        <div class="invalid-feedback">{{ error }}</div> 
                    {% endfor %}
                </div>

                <!-- Errors-->
                <div class="form-floating mb-3">
                {% for error in form.non_field_errors %}
                        <div class="text-center text-danger mb-3">{{ error }}</div> 
                {% endfor %}
                </div>

                <!-- Button-->
                <div class="d-grid mb-3"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Ingresar</button></div>
                
                <!-- Reset - Active-->
                <div class="d-flex justify-content-between align-items-center mb-5 mb-xl-0">
                    <div class="text-start fs-5">
                        <a class="text-decoration-none" href="{% url 'password_reset' %}">Restablecer contraseña</a>
                    </div>
                    <!-- <div class="form-check m-0 fs-5">
                        <input class="form-check-input" type="checkbox" name="remember_me" id="remember_me" checked>
                        <label class="form-check-label" for="remember_me">Activo</label> 
                    </div> -->
                </div>

                <div class="d-flex justify-content-between align-items-center mt-4 mb-xl-0">
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
                </div>
                
            </form>
        </div>
    </div>
</div>

{% endblock %}