<!-- 6  Formulario para nueva contraseña-->
 <h2>Establecer nueva contraseña</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Cambiar contraseña</button>
</form>

                <!--Password validator
                <div class="form-floating mb-3">
                    <input class="form-control {% if form.password2.errors %}is-invalid{% endif %}" type="password" id="password2" name="password2" placeholder="Repite tu contraseña">
                    <label for="password2">Repetir contraseña</label>
                    {% for error in form.password2.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>-->