{% extends "aposts/index.html" %}
{% block content %}
<div class=" rounded-3 py-5 px-4 px-md-5 mb-5">
        <div class="text-center mb-5">
            <h1 class="fw-bolder">Establecer nueva contraseña</h1>
        </div>

        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <form method="post" novalidate>
                    {% csrf_token %}
                    <!--Password-->
                    <div class="form-floating mb-3">
                        <input class="form-control {% if form.new_password1.errors %}is-invalid{% endif %}" type="password" id="new_password1" name="new_password1" placeholder="Nueva contraseña">
                        {% for error in form.new_password1.errors %}
                            <div class="invalid-feedback">{{ error }}</div> 
                        {% endfor %}
                    </div>

                    <!--Password validator-->
                    <div class="form-floating mb-3">
                        <input class="form-control {% if form.new_password2.errors %}is-invalid{% endif %}" type="password" id="new_password2" name="new_password2" placeholder="Validar">
                        {% for error in form.new_password2.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>

                    <div class="form-floating mb-3">
                    {% for error in form.non_field_errors %}
                            <div class="text-center text-danger mb-3">{{ error }}</div> 
                    {% endfor %}
                    </div>

                    <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Guardar</button></div>                    
                </form>
            </div>
        </div>



</div>
{% endblock %}


