{% extends "aposts/index.html" %}
{% load static %}
{% block content %}
<div class="dark-mode py-5 px-4 px-md-5">
    <div class="text-center mb-5">
        <img  src="{% static 'images/qualif2.png' %}" width="260"  alt="Logo">
        <h4 class="fw-bolder">Registro</h4>
    </div>

    <div class="row gx-5 justify-content-center">
        <div class="col-lg-8 col-xl-6">
            <form method="post" novalidate>

                {% csrf_token %}
                <!--User name-->
                <div class="form-floating mb-3">
                    <input class="form-control {% if form.username.errors %}is-invalid{% endif %}" type="text" id="username" name="username" placeholder="Usuario" value="{{ form.username.value|default_if_none:'' }}">
                    {% for error in form.username.errors %}
                        <div class="invalid-feedback">{{ error }}</div> 
                    {% endfor %}
                </div>

                <!--Email-->
                <div class="form-floating mb-3">
                    <input class="form-control {% if form.email.errors %}is-invalid{% endif %}" 
                            type="email" id="email" name="email" placeholder="Correo de recuperación" 
                            value="{{ form.email.value|default_if_none:'' }}">
                    {% for error in form.email.errors %}
                        <div class="invalid-feedback">{{ error }}</div> 
                    {% endfor %}
                </div>

                <!--Password-->
                <div class="form-floating mb-3">
                    <input class="form-control {% if form.password1.errors %}is-invalid{% endif %}" type="password" id="password1" name="password1" placeholder="Contraseña">
                    {% for error in form.password1.errors %}
                        <div class="invalid-feedback">{{ error }}</div> 
                    {% endfor %}
                </div>

                <!--Password validator-->
                <div class="form-floating mb-3">
                    <input class="form-control {% if form.password2.errors %}is-invalid{% endif %}" type="password" id="password2" name="password2" placeholder="Validar contraseña">
                    {% for error in form.password2.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="form-floating mb-3">
                {% for error in form.non_field_errors %}
                        <div class="text-center text-danger mb-3">{{ error }}</div> 
                {% endfor %}
                </div>

                <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Registrarse</button></div>

            </form>
        </div>
    </div>

</div>
{% endblock %}