{% extends 'aposts/index.html' %}
{% load static %}

{% block content %}
<section class="py-0">
    <div class="container px-5">

        <!-- title -->
        <div class="row gx-5 mb-4">    
            <h2 class="fw-bolder mb-3 border-bottom pb-2">{% if object %}Editar{% else %}Crear{% endif %}</h2>
            </hr>        
        </div>

        <form id="postForm" method="post" enctype="multipart/form-data">
        {% csrf_token %} 
            <div class="row gx-5">
                <!-- left --> 
                <div class="col-lg-6 "> 
                    <div class="mb-3"> 
                        <label for="imageInput" class="btn btn-primary" style="opacity: 0.6; pointer-events: none;">Seleccionar imagen</label> 
                        <input type="file" id="imageInput" accept="image/*" style="display: none;" disabled> 
                        <span class="ms-2 text-muted">La selección de imágenes no está disponible por ahora</span>
                        <!-- <canvas id="previewCanvas" class="mt-3" ></canvas>  -->
                    </div> <!-- base64 --> 
                    <input type="hidden" name="cropped_image" id="croppedImageInput" value="{{ form.data.cropped_image|default_if_none:'' }}"> 
                    <input type="hidden" id="existingImage" value="{% if form.instance.image %}{{ form.instance.image.url }}{% endif %}">
                </div>

                <!-- right -->            
                <div class="col-lg-6 order-first order-lg-last">
                    <div class="mb-3">
                        <label for="title" class="form-label">Título</label>
                        <input type="text" name="title" id="title" class="form-control" value="{{ form.instance.title|default_if_none:'' }}">
                        {% if form.title.errors %}
                            <div class="text-danger small">
                                {{ form.title.errors|join:", " }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="body" class="form-label">Descripción</label>
                        <textarea name="body" id="body" rows="5" class="form-control" oninput="autoResize(this)">{{ form.body.value|default_if_none:'' }}</textarea>
                        {% if form.body.errors %}
                            <div class="text-danger small">
                                {{ form.body.errors|join:", " }}
                            </div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</section>
<script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}

